@import "tailwindcss";

body {
  @apply box-border h-screen overflow-auto font-sans text-gray-900 bg-gray-300;
  font-family: "Montserrat", sans-serif;
  /* line-height: 1.6; */
  margin: 0;
  background-image: url("./assets/always-grey.png");
  /* background-repeat:space; */
  /* padding: 0 16px; */
}

header {
  @apply top-0 left-0 w-full bg-gradient-to-r from-blue-500 to-purple-500 mb-5;
  padding: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header h1 {
  @apply text-white text-3xl font-semibold;
  font-family: "McLaren", cursive;
}

.page{
  @apply flex flex-col min-h-screen
}

main {
  @apply flex flex-col flex-grow items-center;
  
}

.input-area {
  @apply flex flex-col justify-between w-auto mx-5 md:w-150 p-3 rounded-2xl bg-white drop-shadow-xs drop-shadow-blue-300 my-2 mb-8
}

.input-area button {
  @apply translate-y-8 bg-blue-500 text-black ml-auto rounded-full w-10 h-10;
}

.input-area input textarea {
  @apply w-full border-5
}

.note-container{
  @apply flex-row flex;
}

.note-card {
  @apply w-auto mx-5 md:w-50 float-start flex flex-col p-3 rounded-2xl bg-white drop-shadow-xs drop-shadow-blue-300 my-2
}

.note-card h1 {
  @apply text-lg mb-1 font-bold
}

.note-card p {
  @apply text-lg whitespace-pre-wrap wrap-break-word mb-2.5
}

.note-card button {
  @apply  ml-auto justify-end p-1  w-fit rounded-xl
}

footer {
  @apply mt-5 w-full border-t-yellow-400 flex justify-center bg-gradient-to-r from-blue-500 to-purple-500 p-3 text-center text-white
}